<html>
   <script src="/html/js/liferay/widget.js" type="text/javascript"></script>
   <script src="Scripts/typeahead.js-master/src/typeahead.js"></script>
<script src="/js/view-issue-screen.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/view-issue-screen.css">
   <head>
      $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
      <title>My Admin</title>
     <meta name="decorator" content="atl.userprofile"/>
     <meta name="tab" content="foo.bar">
     <!--<meta name="projectKey" content='$project.key'/>-->
     <meta name="admin.active.tab" content="slack-administration-section/slack-integration"/>
      
      
   </head>
   <body >
      <h1>Groups</h1>
      <form id="admin" class="aui" action="" method="POST">
         <div class="field-group">
             <a href="#" id="viewissue-export" aria-haspopup="true"  onclick="exportTableToCSV('members.csv')"
		         class="aui-button" 
		         original-title="Export this issue in another format" resolved="" aria-controls="viewissue-export_drop" aria-expanded="false" onclick="exportTableToCSV('members.csv')"><span class="icon icon-default aui-icon aui-icon-small aui-iconfont-export"></span> 
		         <span class="dropdown-text">Export</span></a>
		      
			<label for="name">Select Group</label>
			
			<Select name="selectGroup"id="selectGroup"  placeholder="Type Group Name.." class="text">
				#if($gpName == '')
				<option value=""> </option>
				#else
				<option  value="$gpName">$gpName</option>
				#end
				<#foreach( $opt in $groupList )
				  #if($opt != $gpName)
				   <option  value="$opt">$opt</option>
				 #end
				#end
			</select>
		</div>
		<br>
		<div class="div1">
			<button type="submit" id="groups-filter-submit" name="Filter" value="Filter" class="aui-button">Filter</button> 
        </div>
		</br>
         <p class="p1">Displaying <b>$activeUsers.size()</b> users from group $gpName<p>
         <table id="myTable">
            <tr class="header">
               <th style="width:50%;">User Name</th>
               <th style="width:30%;">Display Name</th>
               <th style="width:20%;">Email Address</th>
            </tr>
            #foreach( $opt in $activeUsers ) 
            <tr>
               <td headers="Value">$opt.username</td>
               <td headers="Value">$opt.displayName</td>
               <td headers="Value"><a href="mailto:">$opt.emailAddress</td>
             <!-- <td headers="Value"><input type="submit"  id="dialog-show-button" name="Change Owner" value="Change Owner" class="button"></td>-->
            </tr>
            #end
         </table>
       </form>
                
	</body>   
</html>